@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	:root {
		--primary: #2f2547;
		--secondary: #fd7b38;
		--bgprimary: #6b48a4;
		--bgsecondary: #a4469e;
	}

	:root[data-theme="light"] {
		--foreground-rgb: 200, 200, 200;
		--background-start-rgb: 255, 255, 255;
		--background-end-rgb: 200, 200, 200;
		--base: hsl(210, 8%, 25%);
	}

	:root[data-theme="dark"] {
		--foreground-rgb: 0, 0, 0;
		--background-start-rgb: 30, 30, 30;
		--background-end-rgb: 55, 55, 55;
		--base: #fff;
	}

}

.bg-gradient {
	background: linear-gradient(
		to bottom,
		color-mix(in srgb, var(--bgprimary) 90%, transparent),
		color-mix(in srgb, var(--bgsecondary) 90%, transparent)
	);
}

.btn.bg-gradient:hover {
	background: linear-gradient(
		to bottom,
		color-mix(in srgb, var(--bgprimary) 50%, transparent),
		color-mix(in srgb, var(--bgsecondary) 50%, transparent)
	);
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
